<footer class="sub-footer">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        Unikraft
        <small class="d-block mb-3 text-muted">© 2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Social</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://twitter.com/UnikraftSDK">Twitter</a></li>
          <li><a class="text-muted" href="https://www.linkedin.com/company/unikraft-sdk/">LinkedIn</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>&nbsp;</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://bit.ly/UnikraftDiscord">Discord</a></li>
          <li><a class="text-muted" href="https://github.com/unikraft/unikraft">GitHub</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://unikraft.org">Unikraft Homepage</a></li>
          <li><a class="text-muted" href="https://unikraft.io">Unikraft Cloud</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>&nbsp;</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="http://docs.unikraft.org">Documentation</a></li>
          <li><a class="text-muted" href="https://unikraft.org/license/">Open-Source Licenses</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>